.job-cards-container {
  color: white;
  background-color: #272727;
  margin: 25px;
  padding: 25px;
  border-radius: 25px;
}

.job-card-container-1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0px;
}

.job-card-container-2 {
  display: flex;
  justify-content: space-between;
}

.job-card-container-3 {
  display: flex;
  flex-direction: column;
}

.job-card-container-1-subcontainer {
  margin: 15px;
}

.job-card-container-2-subcontainer {
  display: flex;
}
.job-card-container-2-subcontainer-para {
  margin-left: 5px;
  margin-right: 5px;
}

.image {
  max-width: 10vw;
  max-height: 10vh;
}

.job-card-container-1-heading {
  font-size: 25px;
}

.job-card-container-4-sub {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 25px;
}
.job-card-container-4 {
  display: flex;
  justify-content: space-evenly;
}
.job-card-container-5 {
  display: flex;
}
.job-card-container-3-sub {
  display: flex;
  color: white;
  justify-content: space-between;
}
.unordered-similar-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
