.similar-job-container {
  max-width: 30vw;
  max-height: 75vh;
  border-radius: 15px;
  background-color: #7e858e;
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: 15px;
}
.similarJob-card-container-1 {
  font-size: 10px;
  display: flex;
}

.similar-image {
  max-width: 60px;
}
.similarJob-card-container-1-subcontainer {
  margin-left: 15px;
}
.similar-description {
  font-weight: bold;
}
.similar-job-descrip-content {
  font-size: 15px;
}

.similarjob-card-container-4 {
  display: flex;
  justify-content: space-between;
}
